*{
    box-sizing: border-box;
}
#title{
    border:2px black;
    font-size: 72px;
}
@keyframes color_swap {
    0% {background-color: aqua;}
    50% {background-color: blue;}
    100% {background-color: aqua;}
}
@keyframes text_hover {
    from {float: left;}
    to {float: right;}
}
#banner{
    max-width: 1920px;
    background-color: aquamarine;
    border: 24px aqua;
    padding: 25px;
    margin: 25px;
    animation-name: color_swap;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#banner_text{
    animation-name: text_hover;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
[class*="col-"]{
    width: 100%;
}
@media only screen and (min-width: 768px){
    .col1{width: 10%}
    .col2{width: 20%}
    .col3{width: 30%}
    .col4{width: 40%}
    .col5{width: 50%}
    .col6{width: 60%}
    .col7{width: 70%}
    .col8{width: 80%}
    .col9{width: 90%}
    .col10{width: 100%}
    #panoramic_image {
        max-width: 1080px;
        height: auto;
    }
    .row {
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
}


[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid greenyellow;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

#image_area {
    width: auto;
    max-width: 70%;
    height: 150px;
    border: 2px solid brown;
}

#draggable_image {
    width: auto;
    max-width: 90%;
    height: 150px;
}

#drop_area {
    width: auto;
    max-width: 70%;
    height: 150px;
    border: 2px solid brown;
}

#drop_area2 {
    width: auto;
    max-width: 70%;
    height: 150px;
    border: 2px solid brown;
}

#panoramic_image {
    max-width: 90%;
    height: auto;
}

#top_menu {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
}


.topmenutext {
    padding-right: 40px;
    padding-left: 10px;
}

.side_menu {
    background-color: aquamarine;
    min-height: 90%;
}
